h1{
    color:blueviolet;
}
div{
    background-color:antiquewhite;
}
.color-peru{
    color:peru;
}
.color-green{
    color:green;
}
.color-blue{
    color:blue;    
}
#li1{
    color:red;
}
#li2{
    color:coral;
}